.online{
    margin-top: 35px;
     margin-left: 75px;
}
.online1{
    font-size: 20px;
    width: 60%;
     margin-top: 30px;
       color: black;
        border: 0px;
}
.btns{
    margin-top: 10%;
}
/* .col-1{
    min-width: 100px;
} */
